/* base css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-family: "Nunito", sans-serif;
}
img {
  width: 100%;
  max-width: 100%
  ;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 500;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
h2 {
  font-weight: 600;
  font-size: 32px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  margin: 0 0 10px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  text-decoration: none;
}
/* base css-end */
.modal.show .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px){
  .Toastify .Toastify__toast-container {
      width: 100%;
      max-width: 250px;
      top: 80px;
      right: 0 !important;
  }       
} 